.add_job {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-right: 5%;
  margin-left: 5%;
}
#error_text {
  margin: 10;
  color: #d9215a;
}
#success_text {
  margin: 10;
  color: #42c062;
}
.add_job_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.add_job_info_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
}
.add_job_info {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add_job_card_container {
  flex: 2;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add_job_card {
  flex: 2;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.job_description {
  height: 100px;
  text-align: start;
  resize: none;
}
