.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}
