.login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
}
.error {
  color: #d9215a;
}
.input_login {
  font-size: 13px;
  border-width: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Consolas";
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #161b22;
  color: #e6e6e6;
}
.login_container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
