.comment_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.comment {
  width: 100%;
  background-color: #1c222b;
  margin-top: 20px;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.rounded_profile_comment {
  border-radius: 50%;
  height: 25px;
  border: solid #e6e6e6 2px;
}
