.task_card {
  width: 100%;
  min-height: 150px;
  background-color: #161b22;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}
.task_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.task_title {
  flex: 1;
  color: #d9215a;
  padding: 5px;
}

.task_subject {
  flex: 1;
  color: #42c062;
  padding: 5px;
}

.task_description {
  flex: 3;
  padding: 5px;
}

.task_tags {
  flex: 1;
  padding: 5px;
}
.rounded_profile_task {
  border-radius: 50%;
  height: 40px;
  border: solid #e6e6e6 3px;
}
.rounded_profile_task_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 60px;
  margin-bottom: 5px;
}
.rounded_profile_task_container > h1,
h2,
h3,
h4 {
  text-align: left;
}
.task_info_container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: #1c222b;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
}
